    <!-- <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/menu/new">Create Menu</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/items/new">Create Item </a></li>
            <li><a href="/auth/login">Login </a></li>
            <li><a href="/auth/register">Register </a></li>
        </ul>
    </nav> -->

<!-- Navagation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Dragon -->
        <img src="/images/dragon-proverb.png" alt="Dragon" height="200">
        <!-- Logo -->
        <a href="/"><img src="/images/wok-logo.png" height="200" alt="Logo"></a>

        <!-- Button Nav for smaller browser screen -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- Menus -->
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menus</a>
                </li>

                <!-- Locations -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Locations</a>
                </li>

                <!-- About Us -->
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <!-- Login -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

        </div>
    </div>

</nav>


  