
body{
    background-color: burlywood;
    /* cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63042'), default; */
    cursor: url('/images/Chopsticks.png'), default;

}

.nav-link{
    font-size: 20px;
   
}

.spacer-top{
    margin-top:200px;
}

.spacer-top-reverse{
    margin-top:-100px;
}