<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    <div class="container">
        <img src="https://cdn.dribbble.com/users/1012566/screenshots/4187820/topic-2.jpg" alt="404 picture">
    </div>
</body>

</html>