<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link href="/style/carosel.css" rel="stylesheet">
    <title>Wok & Grill Menu Create Page</title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('partials/bootstrapScripts') %>
    <!-- Header Section -->
    <header>
        <%- include('partials/nav') %>
        <div class="spacer-top"></div>
    </header>

    <br />

    <h1>About US</h1>
    <p>Work and Grill has been establish since 2003. It has been serving the best quality Hawaiian Chinese food to
        neighborhood.</p>
    <section>
        <p>Office Hours</p>
        <p>Monday: 11AM-8PM</p>
        <p>Tuesday: 11AM-8PM</p>
        <p>Wednesday: 11AM-8PM</p>
        <p>Thursday: 11AM-8PM</p>
        <p>Friday: 11AM-8PM</p>
        <p>Saturday: 11AM-8PM</p>
        <p>Sunday: 11AM-8PM</p>
    </section>
    <p>Phone: (909) 548-2088</p>
    <p>Order:
        <a href="https://www.doordash.com/store/wok-grill-chino-27444/en-US/?utm_campaign=gpa">Doordash.com</a>
    </p>
</body>

</html>