<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Title -->
        <h1>Menu</h1>
        <!-- Navagation Bar -->
        <nav>
            <a href="/">Home</a>
            
        </nav>
    </header>

    <ul>
        <% allMenu.forEach(element => { %>
        <li>
            <a href="/menu/<%= element._id %> "><%= element.name %></a>
        </li>
        <% }) %>
    </ul>
</body>

</html>