<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <!-- Top Section -->
    <header>
        <!-- Title -->
        <h1>Dish</h1>
        <!-- Navagation Bar -->
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
        </nav>
    </header>

    <!-- Dish Contents-->
    <main>
        <div class = "item-container">
            <!-- Item Name -->
            <h3>Item Name</h3>
            <!-- Item Picture -->
            <textarea name="picture" id="" cols="30" rows="10"></textarea>
            <!-- Price -->
            <p>Price: $10 </p>
            <!-- Spiciness -->
            <p>Spicy: 4/5</p>
            <!-- Description -->
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Fugiat at nihil sapiente ad earum iste enim aperiam commodi 
                odio quibusdam praesentium omnis, rem vitae tenetur! 
                Harum voluptate rerum soluta dolor.
            </p>
        </div>

    </main>
</body>
</html>